image: node:20

variables:
  NPM_CONFIG_CACHE: "$CI_PROJECT_DIR/.npm"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm/

pages:
  stage: deploy
  script:
    - cd app
    - npm ci
    - npm run build
    - rm -rf ../public
    - mkdir -p ../public
    - cp -R dist/. ../public/
    - cp -R ../courses ../public/courses
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
